{% extends 'libro/index.html' %}
{% block titulo %}
  Biblioteca.dev | Registro de Autores
{% endblock titulo %}

{% block body %}
<form method="POST">
  {% csrf_token %}
  {% if error %}
    <h2>{{ error }}</h2>
  {% else %}
      <div class="card">
          <div class="card-header">
              <strong>Formulario de Registro</strong>
          </div>
          <div class="card-body card-block">
              <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                  <div class="row form-group">
                      <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{form.nombre.label}}</label></div>
                      <div class="col-12 col-md-9">{{form.nombre}}</div>
                  </div>
                  <div class="row form-group">
                      <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{form.apellidos.label}}</label></div>
                      <div class="col-12 col-md-9">{{form.apellidos}}</div>
                  </div>
                  <div class="row form-group">
                      <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{form.nacionalidad.label}}</label></div>
                      <div class="col-12 col-md-9">{{form.nacionalidad}}</div>
                  </div>
                  <div class="row form-group">
                      <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">{{form.descripcion.label}}</label></div>
                      <div class="col-12 col-md-9">{{form.descripcion}}</div>
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary">Registrar</button>
                      <button type="reset" class="btn btn-danger">Cancelar</button>
                  </div>
              </form>
          </div>
      </div>
  {% endif %}
</form>

{% endblock body %}