{% extends 'libro/index.html' %}

{% block titulo %}
  Biblioteca.dev | Listado de Libros
{% endblock titulo %}

{% block body %}
  <div>
    <button class="btn btn-primary" type="button" onClick="open_modal_create('{% url 'libro:crear_libro' %}')">Crear libro</button>
  </div>
  {% if libros %}
      <div class="card">
          <div class="card-header">
              <strong class="card-title">Listado de Libros</strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table class="table">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Fecha de publicación</th>
                        <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for libro in libros %}
                      <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>
                            {% for autor in libro.autor_id.all %}
                                <li class="list-group list-group-flush">{{ autor.nombre }}</li>
                            {% endfor %}
                        </td>
                        <td>{{ libro.fecha_publicacion }}</td>
                        <td>
                          <button onClick="open_modal_edition('{% url 'libro:editar_libro' libro.id %}')" class="btn btn-primary">Editar</button>
                          <a href="{% url 'libro:eliminar_libro' libro.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
      {% else %}
        <h1>No existen libros registrados</h1>
      {% endif %}

      <div class="modal fade" id="creacion" role="dialog">
      </div>

      <div class="modal fade" id="edicion" role="dialog">
      </div>

{% endblock body %}

{% block extrajs %}
<script type="text/javascript">
  let $ = jQuery.noConflict();

  function open_modal_create(url){
    $('#creacion').load(url, function(){
      $(this).modal('show')
    })
  }

  function open_modal_edition(url){
    $('#edicion').load(url, function(){
      $(this).modal('show');
    })
  }
</script>
{% endblock extrajs %}