{% extends 'libro/index.html' %}
{% block titulo %}
  Biblioteca.dev | confirmación de Eliminación
{% endblock titulo %}
{% block body %}
<form method="POST">
  {% csrf_token %}
  <h2>¿Desea eliminar el registro {{ autor }}?</h2>
    <button class="btn btn-danger" type="submit">Eliminar</button>
    <a href="{% url 'libro:listar_autor' %}">Cancelar</a>
</form>

{% endblock body %}